body {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background-color: rgb(190, 188, 188);
    padding: 2px 0;
    border: 1px solid red;
}

h1 {
    font-size: 4.4em;
}

@media (max-width: 460px) {
    h1 {
        font-size: 3.5rem;
        line-height: 1.2;
    }
}

p {
    margin-top: -24px;
    text-decoration: underline;
}

figure {
    margin-top: 12px;
    border-bottom: 1px solid red;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

#img-caption {
    padding: 12px 0 5px 0;
}

@media (max-width: 460px) {
    #img-caption {
      font-size: 1.4rem;
    }
}

#tribute-info {
    border: 1px solid red;
    background-color: rgb(190, 188, 188);
}

h3 {
    text-align: center;
    text-decoration: underline;
    font-size: 2.4rem;
}

ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}

li {
    margin: 2px 48px;
    padding: 8px 0;
}

#emphasis {
    font-size: 0.9rem;
}
